@use '../../../assets/styles/mixins.scss';
@use '../../../assets/styles/variables.scss';

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: variables.$color_black;
  color: variables.$color_white;

  &__container {
    @include mixins.container();
  }
}
