<form class="article-editor" [formGroup]="form" (submit)="handleSubmit()">
  <div class="article-editor__container">
    <h1 class="article-editor__title">
      {{ articleRefactorType === 'create' ? 'Создать статью' : 'Редактировать статью' }}
    </h1>

    <input
      class="article-editor__input"
      type="text"
      formControlName="title"
      placeholder="Заголовок статьи" />
    <input
      class="article-editor__input"
      type="text"
      formControlName="description"
      placeholder="Краткое описание" />
    <textarea
      class="article-editor__text"
      formControlName="text"
      placeholder="Основной текст"></textarea>

    <button class="article-editor__button" type="submit">
      {{ articleRefactorType === 'create' ? 'Создать' : 'Изменить' }}
    </button>
  </div>
</form>
