@use '../../../assets/styles/mixins.scss';
@use '../../../assets/styles/variables.scss';

.menu {
  background: variables.$color_black;
  width: 100%;

  &__container {
    @include mixins.container();
    display: flex;
    column-gap: 20px;
  }

  &__item {
    padding: 20px 0;
  }

  &__item:hover &__link {
    color: variables.$color_active;
  }

  &__link {
    color: variables.$color_white;
    cursor: pointer;
    font:
      500 24px/20px 'Roboto',
      sans-serif;
    text-align: center;
    display: inline-block;

    &_active {
      cursor: default;
      pointer-events: none;
      color: variables.$color_active;
    }
  }
}
